body, .modal-content {
	background-color: #282828;
	color: white;
}

.close {
	color: white;
	text-shadow: none;
}

.edit {
	color: #989898;
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px 9px;
	font-family: "Helvetica";
	font-size: 115%;
}

.wButton {
	color: white;
}

.qButton:hover, .close:hover, .edit:hover {
	cursor: pointer;
	color: #A9A9A9;
}

.modal-header {
	border-bottom: 0 none;
	height: 38px;
}