body {
	font-family: 'Rubik';
	background-color: hsl(220, 15%, 20%);
	color: white;
}

hr {
	border-color: white;
	width: 20em;
	margin-top: 28px;
}

.q-title {
	color: hsl(30, 95%, 69%);
}

.card {
	background-color: hsl(220, 10%, 35%);
}

.modal-header {
	border-bottom: none;
	height: 38px;
}

.modal-content {
	background-color: hsl(220, 15%, 20%);
	color: white;
	/* border-color: #484848; */
}

.modal-open .container-fluid, .modal-open  .container {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

.q-modal {
	max-width: 1160px;
}

.close {
	color: hsl(30, 95%, 69%);
	opacity: 1;
	text-shadow: none;
}

.close:hover {
	color: hsl(30, 90%, 75%) !important;
}

.closeItem {
	color: hsl(30, 90%, 75%);
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px 11px;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 153%;
}

.editItem {
	color: hsl(30, 90%, 75%);
	position: absolute;
	top: 0;
	left: 0;
	padding: 6px 8px;
	font-family: "Helvetica";
	font-size: 105%;
}

.closeItem:hover, .editItem:hover {
	color: hsl(30, 95%, 69%) !important;
}

.btn-secondary {
	background-color: hsl(220, 10%, 50%);
	border-color: hsl(220, 10%, 50%);
}

.btn-secondary:hover {
	background-color: hsl(220, 20%, 45%);
	border-color: hsl(220, 20%, 45%);
}

.btn-secondary:focus {
	background-color: hsl(220, 20%, 45%);
	border-color: hsl(220, 20%, 45%);
}

.btn-secondary:active {
	background-color: hsl(220, 20%, 45%) !important;
	border-color: hsl(220, 20%, 45%) !important;
}

.btn-outline-secondary {
	border-color: hsl(220, 10%, 50%);
}

.btn-outline-secondary:hover {
	border-color: hsl(220, 10%, 50%);
	background-color: hsl(220, 10%, 50%);
}

.wButton {
	color: white;
}

.qButton {
	background-color: hsl(220, 10%, 50%);
	border-color: hsl(220, 10%, 50%);
	transition: all .15s ease-in;
}

.qButton:hover {
	cursor: pointer;
	background-color: hsl(220, 20%, 45%);
	border-color: hsl(220, 20%, 45%);
}

.close:hover, .edit:hover, .closeItem:hover, .editItem:hover {
	cursor: pointer;
	color: #A9A9A9;
}

.submitButton {
	margin-top: 25px;
}

.outline-button {
	background-color: transparent;
	border-color: hsl(220, 10%, 50%);
	transition: all .15s ease-in;
}

.outline-button:hover {
	cursor: pointer;
	background-color: hsl(220, 10%, 50%);
}